@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: #a8cf45c8;

}


/* Inicio-Cabeçalho */

header{
    background-color: #005D8E;
    height: 120px;
    display: flex;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.400);
}

#logo img{
    width: 100px;
    margin: 10px 40px;
}

#menu-mobile{
    display: none;
}

#nav-mobile{
    display: none;
}

#menu-desk{
    position: absolute;
    margin-top: 90px;
    right: 20px;
}

#menu-desk > ul > li{
    display: inline-block;
    
}

#menu-desk a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding-right: 40px;
    right: 0;
}

/* Inicio-imagem */

#foto-aluno{
    margin: auto;
    text-align: center;
}

#foto-aluno img{
    width: 700px;
    margin-bottom: -5px;
}

/* fundo de todo conteudo */

#conteudo{
    background-color: white;
    width: 700px;
    margin: auto;
}

.titulos{
    color: #005D8E;
    font-size: 1.2em;
    padding: 50px 0px 10px 40px;

}

/* educação */


#educacao p{
    margin: 0px 40px;
    text-align: justify;
}

/* prêmios */

    #premios-fotos{
        text-align: center;
        background-color: #ffde59c4;
        margin: 0px 100px;
        border-radius: 10px;
    }

    #premios-fotos img{
        width: 400px;
        margin-top: 20px;
    }

    #premios-fotos p{
        padding: 5px;
    }

/* acontece */

#acontece-fotos{
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.imagem-container {
    flex: 0 0 auto;
    margin: auto;
}

.imagem-container img {
    max-width: 100%;
}

#button-slide{
    margin: auto;
    text-align: center;
}

#button-slide span{
    margin-right: 20px;
    cursor: pointer;
}


/* contato */

#contato{
    background-color: #005D8E;
    margin-top: 50px;
    padding: 50px 0px 50px 40px;
    border-radius: 20px 5px;

}

#contato h1{
    color: white;
    font-size: 1.2em;
    padding-bottom: 10px;
}

#contato p{
    color: white;
    padding-top: 5px;
    font-size: 0.9em;
}

#icon{
    text-align: right;
    padding-right: 20px;
    position: relative;
}

#icon img{
    position: absolute;
    padding-top: 10px;
    top: -40px;
    right: 20px;
    text-align: right;
}

/* creditos */

#creditos{
    margin: auto;
    text-align: center;
    background-color: white;
    width: 700px;
    padding: 10px 0px;
}

#creditos a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 0.8em;
}

#creditos a:hover{
    text-decoration: underline;
}